#home-page-header {
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin-top: 40px;
}

.category-header {
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin-top: 90px;
  margin-bottom: 40px;
}

.product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Rubik", sans-serif;
}

.category-container .product-card {
  flex-basis: calc(
    25% - 20px
  ); /* adjust the width of the product card as needed */
  margin: 10px;
}

#products-container {
  display: block;
}
