#user-order-container {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 600px;
  margin: 0 auto;
  top: 70px;
  font-family: "Rubik", sans-serif;
}

#user-order-title {
  position: relative;
  margin-bottom: 55px;
}

#order-div {
  //   margin: 20px;
  line-height: 0.5;
}

#order-id {
  font-weight: bold;
  font-size: 1.5rem;
}

#product-name {
  font-size: 1.2rem;
  padding-top: 40px;
}

#product-quantity {
  font-size: 1.2rem;
}
