#register-page-title {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

#register-form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: red;
  margin: 0 auto;
  width: 400px;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

#register-form-container input {
  margin-bottom: 20px;
}

#register-form-container button {
  margin-top: 20px;
  display: block;
}
